---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Martina Kaletová',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        // { text: 'Home', href: '#' },
        { 
          text: 'Kdo jsem', 
          links: [
            { text: 'O mně', href: getPermalink('/#about') },
            { text: 'Má cesta', href: getPermalink('/my-journey') },
          ] 
        },
        { text: 'Má filozofie', href: getPermalink('/#philosophy') },
        { 
          text: 'Služby', 
          links: [
            { text: 'Služby', href: getPermalink('/#services') },
            { text: 'Detailní popis', href: getPermalink('/services') },

          ]
        },
        { text: 'Můj klient', href: getPermalink('/#client') },
        { text: 'Kontakt', href: getPermalink('/#contact') },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero ******************* -->

  <Hero2
    tagline="Farmaceutka a nutriční poradkyně s celostním přístupem, průvodkyně na cestě k rovnováze a spokojenosti"
    actions={[
      { variant: 'primary', text: 'Ozvěte se!', href: getPermalink('#contact') },
      { variant: 'primary', text: 'Více o mně', href: '#about' },
    ]}
    image={{src: '~/assets/images/hero.jpg', alt: 'Hero', loading: 'eager'}}
  >
    <Fragment slot="title">
      Martina Kaletová
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Věřím, že opravdové zdraví a dlouhodobá pohoda nikdy nejsou výsledkem zázračných pilulek
        a diet z internetu, ale pouze důsledné péče o sebe sama.
      </span>
      Nejsem tu proto, abych Vám nabízela rychlá řešení, ale abych Vás podpořila na Vaší
      individuální cestě ke zdravému životnímu stylu a především Vám pomohla nalézt cestu
      k sobě samým.
    </Fragment>
  </Hero2>

  <!-- About me **************** -->

  <Content
    id="about"
    image={{src: '~/assets/images/about-me.jpg', alt: 'About', loading: 'eager'}}
    isReversed={true}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Kdo jsem</h2>
      <br />

      <h4 class="text-1xl font-bold tracking-tight dark:text-white sm:text-1xl mb-1">
        Farmaceutka a nutriční poradkyně
      </h4>
      <p>
        Vystudovala jsem farmaceutickou fakultu a absolvovala akreditovaný kurz výživového poradce.
        Ve své praxi propojuji znalosti fyziologie, biochemie, výživy i klasické a přírodní
        farmakoterapie.
      </p>
      <br />

      <h4 class="text-1xl font-bold tracking-tight dark:text-white sm:text-1xl mb-1">
        Specialistka na udržitelný životní styl
      </h4>
      <p>
        Pomáhám klientům nastavit zdravé stravovací návyky a rutiny, které podporují jejich fyzické
        i duševní zdraví. Nejde jen o změny v jídelníčku, ale o celkovou změnu přístupu ke zdraví.
      </p>
      <br />
      
      <h4 class="text-1xl font-bold tracking-tight dark:text-white sm:text-1xl mb-1">
        Osobní průvodkyně ke zdraví, rovnováze a spokojenosti
      </h4>
      <p>
        Společně odhalujeme skryté příčiny Vašich obtíží, nastavujeme udržitelné změny,
        které jsou maximálně individualizované dle Vašich konkrétních cílů, možností a priorit.
      </p>
      <br />

    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Content>
  
  <!-- Philosophy ****************** -->

  <!-- <Steps2
    id="philosophy"
    title="Filozofie mé práce"
    subtitle="3 základní pilíře"
    items={[
      {
        title: 'Komplexní přístup ke zdraví',
        description: 'Věřím, že skutečné zdraví je výsledkem propojení vyvážené stravy, správně nastavené mysli a životních návyků. Nabízím holistický pohled, který zahrnuje všechny aspekty Vašeho skutečně zdravého životního stylu.',
      },
      {
        title: 'Empatie a individuální podpora',
        description: 'Každý člověk je jedinečný, a proto se ke každému klientovi stavím s maximální empatií, porozuměním a pokorou. Mou prioritou je poskytnout Vám individuální podporu, která respektuje Vaše potřeby, životní situaci a cíle, a pomůže Vám nalézt cestu k harmonii těla i mysli.',
      },
      {
        title: 'Zodpovědnost a aktivní přístup',
        description: 'Zaměřuji se na klienty, kteří jsou ochotni převzít zodpovědnost za své zdraví a uvědomují si, že dlouhodobá změna vyžaduje aktivní přístup a práci na sobě. Společně se zaměříme na trvalé změny, které vedou ke zlepšení kvality života.',
      },
    ]}
  /> -->

  <Features
    id="philosophy"
    title="Filozofie mé práce"
    subtitle="4 základní pilíře"
    columns={2}
    items={[
      {
        title: 'Komplexní přístup ke zdraví',
        description: 'Věřím, že skutečné zdraví je výsledkem propojení vyvážené stravy, správně nastavené mysli a životních návyků. Nabízím holistický pohled, který zahrnuje všechny aspekty Vašeho skutečně zdravého životního stylu.',
        icon: 'tabler:puzzle',
      },
      {
        title: 'Odbornost a edukace',
        description: 'Zakládám si na odbornosti a neustálém vzdělávání. Vysvětlím Vám vše srozumitelně a na základě ověřených informací, abyste mohli dělat rozhodnutí, která Vám budou dávat smysl. Naučím Vás, jak si vytvořit zdravé návyky, které budou fungovat dlouhodobě.',
        icon: 'tabler:school',
      },
      {
        title: 'Empatie a individuální podpora',
        description: 'Každý člověk je jedinečný, a proto se ke každému klientovi stavím s maximální empatií, porozuměním a pokorou. Mou prioritou je poskytnout Vám individuální podporu, která respektuje Vaše potřeby, životní situaci a cíle, a pomůže Vám nalézt cestu k harmonii těla i mysli.',
        icon: 'tabler:heart',
      },
      {
        title: 'Zodpovědnost a aktivní přístup',
        description: 'Zaměřuji se na klienty, kteří jsou ochotni převzít zodpovědnost za své zdraví a uvědomují si, že dlouhodobá změna vyžaduje aktivní přístup a práci na sobě. Společně se zaměříme na trvalé změny, které vedou ke zlepšení kvality života.',
        icon: 'tabler:flame',
      },
    ]}
  />
  
  <!-- Services **************** -->
  <Features2
    id="services"
    title="Co Vám můžu nabídnout"
    subtitle=""
    items={[
      {
        title: 'Konzultace',
        description: '<a href="/services#services-consultation">Služba se širokým záběrem, kde společně probereme Vaše témata. Navrhnu konkrétní doporučení pro jednotlivé oblasti a vymyslíme první akční kroky.</a>',
        icon: 'tabler:message-chatbot',
      },
      {
        title: 'Nutriční plán na míru',
        description: '<a href="/services#services-nutrition">Jednorázová služba zaměřena na optimální vyživení těla, zvýšení energie a také edukaci, jak by měl vypadat zdravý talíř.</a>',
        icon: 'tabler:battery-charging',
      },
      {
        title: 'Nutriční a návykový koučink',
        description: '<a href="/services#services-coaching">Intenzivní spolupráce pro dosažení nejlepších výsledků a naplnění Vašich cílů. Konstantní podpora a a reakce na změny v průběhu spolupráce jsou samozřejmostí.</a>',
        icon: 'tabler:heart-handshake',
      },
      {
        title: 'Koučink bez stravovacího plánu',
        description: '<a href="/services#services-no-plan-coaching">Už víte, jak má zdravý talíř vypadat, přesto se Vám nedaří dosáhnout Vašich cílů? V rámci koučinku Vám pomůžu s udržením motivace a konzistence a s odstraňováním překážek, které Vás na Vaší cestě brzdí.</a>',
        icon: 'tabler:stairs-up',
      },
      {
        title: 'Zhodnocení stravovacích návyků a jejich optimalizace',
        description: '<a href="/services#services-habits">Analýza současných stravovacích návyků a individuální doporučení pro jejich úpravu tak, abyste se po každém jídle cítili skvěle.</a>',
        icon: 'tabler:tools-kitchen-3',
      },
      {
        title: 'Suplementační podpůrná strategie',
        description: '<a href="/services#services-suplements">Nevíte si rady s výběrem doplňků stravy? Víte, že ty kvalitní je potřeba hledat jako jehlu v kupce sena? Poradím Vám s výběrem i se správným užíváním a jejich kombinací.</a>',
        icon: 'tabler:leaf',
      },
    ]}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Who am I for? ****************** -->

  <Features2
    id="client"
    title="Pro koho tady jsem"
    subtitle="Provázím ženy, které už unavuje kolotoč nefunkčních diet a neustálé pokusy o kontrolu nad jídlem, aniž by dosáhly dlouhodobých výsledků. Možná se cítíte zmatené všemi protichůdnými informacemi o výživě nebo vás trápí pocit viny, když si dáte něco “nezdravého” nebo “zakázaného”. Toužíte po udržitelných změnách, ale nevíte, kde začít, nebo vám chybí jistota, že jdete správným směrem.</br></br>Jsem tu i pro ty z vás, které se cítí přehlcené a zapomínají na své potřeby. Možná cítíte vyčerpání a touhu po změně, ale nevíte, jak ji zahájit. Vědomí, že si zasloužíte víc času a péče, se ve vás ozývá, ale potřebujete někoho, kdo vás podpoří a připomene, že začít u sebe není selhání, ale naopak důležitý krok vpřed."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Features2>
  
  <!-- Is that you? ****************** -->

  <Steps2
    title="Jste to vy?"
    subtitle="Pokud jste se v těchto otázkách našla, je čas přestat se podceňovat a začít si vážit sebe samé. Společně se zaměříme na to, abyste si zvědomila svou hodnotu, naučila se naslouchat svým potřebám a postupně našla cestu k rovnováze a spokojenosti ve svém životě. Není to sobecké – je to nezbytné. Nejste na to sama. Ozvěte se mi a pojďme začít měnit váš život k lepšímu."
    isReversed={true}
    items={[
      {
        title: 'Máte pocit, že jste vyzkoušeli všechno, ale výsledky stále nepřicházejí?',
        icon: 'tabler:quote',
      },
      {
        title: 'Toužíte cítit se dobře ve svém těle i sami se sebou, ale nevíte, kde začít?',
        icon: 'tabler:quote',
      },
      {
        title: 'Hledáte někoho, kdo vás provede a podpoří na cestě ke změně?',
        icon: 'tabler:quote',
      }
    ]}
  />

  <!-- Motivational statement 1 ************** -->

  <Features2
    title="Opusťte své (zlo)zvyky a neprospěšné vzorce myšlení a chování."
    subtitle="Co nefungovalo doteď, fungovat nebude a nic se nezmění, když se nic nezmění."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Contact *********** -->

  <Features2
    id="contact"
    title="Kontaktujte mě!"
    items={[
      {
        title: 'Email',
        description: '<a href="mailto:martinakaletova.cz@gmail.com">martinakaletova.cz@gmail.com</a>',
        icon: 'tabler:mail',
      },
      {
        title: 'Instagram',
        description: '<a href="https://www.instagram.com/martinakaletova_cz/">@martinakaletova_cz</a>',
        icon: 'tabler:brand-instagram',
      },
      {
        title: 'IČO',
        description: '<a href="https://www.rzp.cz/verejne-udaje/cs/udaje/vyber-subjektu;nazev=martina%20kaletov%C3%A1;roleSubjektu=P/subjekt;ssarzp=A23ade01c39f7e21fe83b04f6e555c4ced8be92cc8c9d7e53cf73db9e07e748a41940">21833575</a>',
        icon: 'tabler:receipt',
      },
    ]}
  />

</Layout>
