---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Martina Kaletová',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        // { text: 'Home', href: '#' },
        { 
          text: 'Kdo jsem', 
          links: [
            { text: 'O mně', href: getPermalink('/#about') },
            { text: 'Má cesta', href: getPermalink('/my-journey') },
          ] 
        },
        { text: 'Má filozofie', href: getPermalink('/#philosophy') },
        { 
          text: 'Služby', 
          links: [
            { text: 'Služby', href: getPermalink('/#services') },
            { text: 'Detailní popis', href: getPermalink('/services') },
            { text: 'Ceník', href: getPermalink('/pricing') },
          ]
        },
        { text: 'Můj klient', href: getPermalink('/#client') },
        { text: 'Kontakt', href: getPermalink('/#contact') },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero ******************* -->

  <Hero2
    tagline="Farmaceutka a\u00A0nutriční poradkyně s&nbsp;celostním přístupem, průvodkyně na&nbsp;cestě k&nbsp;rovnováze a\u00A0spokojenosti"
    actions={[
      { variant: 'primary', text: 'Ozvěte se!', href: getPermalink('#contact') },
      { variant: 'primary', text: 'Více o mně', href: '#about' },
    ]}
    image={{src: '~/assets/images/hero.jpg', alt: 'Hero', loading: 'eager'}}
  >
    <Fragment slot="title">
      Martina Kaletová
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Věřím, že opravdové zdraví a&nbsp;dlouhodobá pohoda nikdy nejsou výsledkem zázračných pilulek
        a&nbsp;diet z internetu, ale pouze důsledné péče o sebe sama.
      </span>
      Nejsem tu proto, abych vám nabízela rychlá řešení, ale abych vás podpořila na&nbsp;vaší
      individuální cestě ke&nbsp;zdravému životnímu stylu a&nbsp;především vám pomohla nalézt cestu
      k&nbsp;sobě samým.
    </Fragment>
  </Hero2>

  <!-- About me **************** -->

  <Content
    id="about"
    title="Kdo jsem"
    image={{src: '~/assets/images/about-me.jpg', alt: 'About', loading: 'eager'}}
    isReversed={true}
  >
    <Fragment slot="content">
      <!-- 
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Kdo jsem</h2>
      <br /> 
      -->

      <h4 class="text-1xl font-bold tracking-tight dark:text-white sm:text-1xl mb-1">
        Farmaceutka a&nbsp;nutriční poradkyně
      </h4>
      <p>
        Vystudovala jsem farmaceutickou fakultu a&nbsp;absolvovala akreditovaný kurz výživového poradce.
        Ve své praxi propojuji znalosti fyziologie, biochemie, výživy i&nbsp;klasické a&nbsp;přírodní
        farmakoterapie.
      </p>
      <br />

      <h4 class="text-1xl font-bold tracking-tight dark:text-white sm:text-1xl mb-1">
        Specialistka na&nbsp;udržitelný životní styl
      </h4>
      <p>
        Pomáhám klientům nastavit zdravé stravovací návyky a&nbsp;rutiny, které podporují jejich fyzické
        i&nbsp;duševní zdraví. Nejde jen o změny v&nbsp;jídelníčku, ale o celkovou změnu přístupu ke&nbsp;zdraví.
      </p>
      <br />
      
      <h4 class="text-1xl font-bold tracking-tight dark:text-white sm:text-1xl mb-1">
        Osobní průvodkyně ke&nbsp;zdraví, rovnováze a&nbsp;spokojenosti
      </h4>
      <p>
        Společně odhalujeme skryté příčiny vašich obtíží, nastavujeme udržitelné změny,
        které jsou maximálně individualizované dle vašich konkrétních cílů, možností a&nbsp;priorit.
      </p>
      <br />

    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Content>
  
  <!-- Philosophy ****************** -->

  <Features
    id="philosophy"
    title="Filozofie mé práce"
    subtitle="4 základní pilíře"
    columns={2}
    items={[
      {
        title: 'Komplexní přístup ke zdraví',
        description: 'Věřím, že skutečné zdraví je výsledkem propojení vyvážené stravy, správně nastavené mysli a\u00A0životních návyků. Nabízím holistický pohled, který zahrnuje všechny aspekty vašeho skutečně zdravého životního stylu.',
        icon: 'tabler:puzzle',
      },
      {
        title: 'Odbornost a\u00A0edukace',
        description: 'Zakládám si na&nbsp;odbornosti a\u00A0neustálém vzdělávání. Vysvětlím vám vše srozumitelně a\u00A0na základě ověřených informací, abyste mohli dělat rozhodnutí, která vám budou dávat smysl. Naučím vás, jak si vytvořit zdravé návyky, které budou fungovat dlouhodobě.',
        icon: 'tabler:school',
      },
      {
        title: 'Empatie a\u00A0individuální podpora',
        description: 'Každý člověk je jedinečný, a\u00A0proto se&nbsp;ke&nbsp;každému klientovi stavím s&nbsp;maximální empatií, porozuměním a\u00A0pokorou. Mou prioritou je poskytnout vám individuální podporu, která respektuje vaše potřeby, životní situaci a\u00A0cíle, a\u00A0pomůže vám nalézt cestu k&nbsp;harmonii těla i&nbsp;mysli.',
        icon: 'tabler:heart',
      },
      {
        title: 'Zodpovědnost a\u00A0aktivní přístup',
        description: 'Zaměřuji se&nbsp;na&nbsp;klienty, kteří jsou ochotni převzít zodpovědnost za své zdraví a\u00A0uvědomují si, že dlouhodobá změna vyžaduje aktivní přístup a\u00A0práci na&nbsp;sobě. Společně se&nbsp;zaměříme na&nbsp;trvalé změny, které vedou ke&nbsp;zlepšení kvality života.',
        icon: 'tabler:flame',
      },
    ]}
  />
  
  <!-- Services **************** -->
  <Features2
    id="services"
    title="Co vám můžu nabídnout"
    subtitle=""
    items={[
      {
        title: 'Konzultace',
        description: '<a href="/services#services-consultation">Služba se&nbsp;širokým záběrem, kde společně probereme vaše témata. Navrhnu konkrétní doporučení pro jednotlivé oblasti a\u00A0vymyslíme první akční kroky.</a>',
        icon: 'tabler:message-chatbot',
      },
      {
        title: 'Nutriční plán na\u00A0míru',
        description: '<a href="/services#services-nutrition">Jednorázová služba zaměřena na&nbsp;optimální vyživení těla, zvýšení energie a\u00A0také edukaci, jak by měl vypadat zdravý talíř.</a>',
        icon: 'tabler:battery-charging',
      },
      {
        title: 'Nutriční a\u00A0návykový koučink',
        description: '<a href="/services#services-coaching">Intenzivní forma spolupráce pro dosažení nejlepších výsledků a\u00A0naplnění vašich cílů. Konstantní podpora a\u00A0reakce na&nbsp;změny v&nbsp;průběhu spolupráce jsou samozřejmostí.</a>',
        icon: 'tabler:heart-handshake',
      },
      {
        title: 'Koučink bez stravovacího plánu',
        description: '<a href="/services#services-no-plan-coaching">Už víte, jak má zdravý talíř vypadat, přesto se&nbsp;vám nedaří dosáhnout vašich cílů? V rámci koučinku vám pomůžu s&nbsp;udržením motivace a\u00A0konzistence a\u00A0s\u00A0odstraňováním překážek, které vás na&nbsp;vaší cestě brzdí.</a>',
        icon: 'tabler:stairs-up',
      },
      {
        title: 'Zhodnocení stravovacích návyků a\u00A0jejich optimalizace',
        description: '<a href="/services#services-habits">Analýza současných stravovacích návyků a\u00A0individuální doporučení pro jejich úpravu tak, abyste se&nbsp;po každém jídle cítili skvěle.</a>',
        icon: 'tabler:tools-kitchen-3',
      },
      {
        title: 'Suplementační podpůrná strategie',
        description: '<a href="/services#services-suplements">Nevíte si rady s&nbsp;výběrem doplňků stravy? Víte, že ty kvalitní je potřeba hledat jako jehlu v&nbsp;kupce sena? Poradím vám s&nbsp;výběrem i&nbsp;se správným užíváním a\u00A0jejich kombinací.</a>',
        icon: 'tabler:leaf',
      },
    ]}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Who am I for? ****************** -->

  <Features2
    id="client"
    title="Pro koho tady jsem"
    subtitle="Provázím ženy, které už unavuje kolotoč nefunkčních diet a\u00A0neustálé pokusy o kontrolu nad jídlem, aniž by dosáhly dlouhodobých výsledků. Možná se&nbsp;cítíte zmatené všemi protichůdnými informacemi o výživě nebo vás trápí pocit viny, když si dáte něco “nezdravého” nebo “zakázaného”. Toužíte po udržitelných změnách, ale nevíte, kde začít, nebo vám chybí jistota, že jdete správným směrem.</br></br>Jsem tu i&nbsp;pro ty z vás, které se&nbsp;cítí přehlcené a\u00A0zapomínají na&nbsp;své potřeby. Možná cítíte vyčerpání a\u00A0touhu po změně, ale nevíte, jak ji zahájit. Vědomí, že si zasloužíte víc času a\u00A0péče, se&nbsp;ve&nbsp;vás ozývá, ale potřebujete někoho, kdo vás podpoří a\u00A0připomene, že začít u&nbsp;sebe není selhání, ale naopak důležitý krok vpřed."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Features2>
  
  <!-- Is that you? ****************** -->

  <Steps2
    title="Jste to vy?"
    subtitle="Pokud jste se&nbsp;v&nbsp;těchto otázkách našla, je čas přestat se&nbsp;podceňovat a\u00A0začít si vážit sebe samé. Společně se&nbsp;zaměříme na&nbsp;to, abyste si zvědomila svou hodnotu, naučila se&nbsp;naslouchat svým potřebám a\u00A0postupně našla cestu k&nbsp;rovnováze a\u00A0spokojenosti ve&nbsp;svém životě. Není to sobecké – je to nezbytné. Nejste na&nbsp;to sama. Ozvěte se&nbsp;mi a\u00A0pojďme začít měnit váš život k&nbsp;lepšímu."
    isReversed={true}
    items={[
      {
        title: 'Máte pocit, že už jste vyzkoušela všechno, ale výsledky stále nepřicházejí?',
        icon: 'tabler:quote',
      },
      {
        title: 'Toužíte cítit se&nbsp;dobře ve&nbsp;svém těle i&nbsp;sami se&nbsp;sebou, ale nevíte, kde začít?',
        icon: 'tabler:quote',
      },
      {
        title: 'Hledáte někoho, kdo vás provede a\u00A0podpoří na&nbsp;cestě ke&nbsp;změně?',
        icon: 'tabler:quote',
      }
    ]}
  />

  <!-- Motivational statement 1 ************** -->

  <Features2
    title="Opusťte své (zlo)zvyky a\u00A0neprospěšné vzorce myšlení a\u00A0chování."
    subtitle="Co nefungovalo doteď, fungovat nebude a\u00A0nic se&nbsp;nezmění, když se&nbsp;nic nezmění."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Contact *********** -->

  <Features2
    id="contact"
    title="Kontaktujte mě!"
    items={[
      {
        title: 'Email',
        description: '<a href="mailto:martinakaletova.cz@gmail.com">martinakaletova.cz@gmail.com</a>',
        icon: 'tabler:mail',
      },
      {
        title: 'Instagram',
        description: '<a href="https://www.instagram.com/martinakaletova_cz/">@martinakaletova_cz</a>',
        icon: 'tabler:brand-instagram',
      },
      {
        title: 'IČO',
        description: '<a href="https://www.rzp.cz/verejne-udaje/cs/udaje/vyber-subjektu;nazev=martina%20kaletov%C3%A1;roleSubjektu=P/subjekt;ssarzp=A23ade01c39f7e21fe83b04f6e555c4ced8be92cc8c9d7e53cf73db9e07e748a41940">21833575</a>',
        icon: 'tabler:file-certificate',
      },
    ]}
  />

</Layout>
