---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Martina Kaletová',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        // { text: 'Home', href: '#' },
        { 
          text: 'Kdo jsem', 
          links: [
            { text: 'O mně', href: getPermalink('/#about') },
            { text: 'Více o mně', href: getPermalink('/more-about-me') },
          ] 
        },
        { text: 'Má filozofie', href: getPermalink('/#philosophy') },
        { 
          text: 'Služby', 
          links: [
            { text: 'Služby', href: getPermalink('/#services') },
            { text: 'Detailní popis', href: getPermalink('/services') },

          ]
        },
        { text: 'Můj klient', href: getPermalink('/#client') },
        { text: 'Kontakt', href: getPermalink('/#contact') },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero ******************* -->

  <Hero
    id="hero"
    title="Kdo jsem"
    tagline="Více o mně"
  >
    <Fragment slot="subtitle">
      Jsem doktorka farmacie s více než sedmiletou praxí v lékárnách a nutriční poradkyně. 
      Výživou se zabývám již několik let, intenzivněji od roku 2021, kdy jsem absolvovala akreditovaný kurz MŠMT.
    </br></br>
      Denně pomáhám klientům na jejich cestě k podpoře zdraví, kdy využívám a propojuji znalosti nabyté studiem
      i nekončící cestou sebevzdělávání a objevování nových směrů. Nejen díky svému vzdělání a dlouholetým zkušenostem 
      v oblasti farmacie Vám mohu nabídnout daleko více než jen základní nutriční poradenství. Propojuji svět přírodní 
      i klasické terapie, doplňků stravy spolu s vyváženou stravou, zdravými návyky i nastavením mysli tak, abych
      Vám poskytla maximálně individuální služby k dosažení Vašich cílů.
    </br></br>
      Mé poradenství – průvodcovství je navíc založeno především na respektu a pokoře k Vaší životní cestě
      a momentální situaci, ve které se nacházíte, a především na vytvoření bezpečného prostoru pro uskutečnění
      požadovaných změn a poskytování neustálé podpory.
    </Fragment>
  </Hero>

  <!-- My journey - part 1 **************** -->

  <Content
    title="Má cesta"
    subtitle="O mé cestě za průvodcovstvím a rovnováhou"
    image={{src: '~/assets/images/about-me.jpg', alt: 'About', loading: 'eager'}}
  >
    <Fragment slot="content">
      <h4 class="text-1xl font-bold tracking-tight dark:text-white sm:text-1xl mb-1">
        Jak jsem se dostala k pomoci druhým
      </h4>
      <p>
        Už od dětství jsem si uvědomovala svou citlivou stránku a <b>empatii</b>. Často jsem se ocitla 
        v roli <b>posluchače</b>, ke kterému se spolužáci obraceli se svými problémy. Přestože jsem 
        původně přemýšlela o kariéře v psychologii kvůli fascinaci psychikou, emocemi a jejich 
        vlivem na naše chování, zvolila jsem nakonec farmacii, protože jsem chtěla lépe <b>porozumět 
        tomu, jak funguje lidské tělo</b> a věřila, že v budoucnu budu <b>pomáhat lidem ke zdraví</b>.
      </p>
      <br />

      <h4 class="text-1xl font-bold tracking-tight dark:text-white sm:text-1xl mb-1">
        Praxe ve farmacii a objevování hlubších souvislostí
      </h4>
      <p>
        Studium farmacie mi přineslo <b>komplexní znalosti</b> nejen o lidském těle, lécích a jejich účincích, 
        ale i o nemocech a rizikových faktorech, což mi dalo pevný základ pro práci ve zdravotnictví. 
        V lékárnách jsem byla v denním kontaktu s klienty a pomáhala jim řešit jejich zdravotní problémy.
        Ale postupně jsem zjistila, že <b>problémy se zdravím nejsou jen otázkou těla a řešení v podobě léku</b>. 
        Zdraví je mnohem komplexnější a vyžaduje porozumění celé lidské bytosti včetně emocí a způsobu života. 
        Zažila jsem mnoho momentů, kdy jsem vnímala, že klienti potřebují mnohem více než jen radu ohledně léků. 
        Klíč ke zlepšení zdraví totiž často <b>leží v hlubším porozumění sama sebe</b>.
      </p>
      <br />
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-stone-100 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  
  <!-- My journey - part 2 **************** -->

  <Content
  image={{src: '~/assets/images/about-me.jpg', alt: 'About', loading: 'eager'}}
  isReversed
>
  <Fragment slot="content">
    <h4 class="text-1xl font-bold tracking-tight dark:text-white sm:text-1xl mb-1">
      Má osobní cesta ke zdraví a rovnováze
    </h4>
    <p>
      I já jsem prošla obdobím hledání rovnováhy. V dospívání jsem se potýkala s <b>emočním přejídáním</b>, které vedlo
      ke stále větší nespokojenosti se svým tělem. Po sérii nezdravých pokusů o hubnutí jsem se rozhodla hlouběji
      <b>studovat výživu</b> hlouběji. Získané znalosti mi pomohly, ale uvědomila jsem si, že nestačí jen správně jíst – je
      třeba pracovat na <b>vztahu k jídlu</b> a k sobě samotné.
    </p>
    <br />

    <h4 class="text-1xl font-bold tracking-tight dark:text-white sm:text-1xl mb-1">
      Překonání ortorexie a hledání skutečného zdraví
    </h4>
    <p>
      Mé zaujetí zdravým stravováním mě dovedlo až k ortorexii – posedlosti "dokonalou" stravou. Přestože jsem navenek
      vypadala zdravě, uvnitř jsem bojovala s perfekcionismem a nespokojeností se sebou. Postupně jsem se naučila
      naslouchat svému tělu, respektovat jeho potřeby a hledat rovnováhu v jídle, pohybu i odpočinku. Dnes pečuji
      nejen o své tělo, ale i o svou duši a vnímám své limity. Vím, že <b>cesta ke zdraví</b> a spokojenosti
      <b>může být dlouhá</b> a ne vždy jednoduchá, ale hlavní je, že je <b>možná</b>.
    </p>
    <br />
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-stone-100 dark:bg-transparent"></div>
  </Fragment>
  </Content>

  <!-- My journey - part 3 **************** -->

  <Content
  image={{src: '~/assets/images/about-me.jpg', alt: 'About', loading: 'eager'}}
  >
  <Fragment slot="content">
    <h4 class="text-1xl font-bold tracking-tight dark:text-white sm:text-1xl mb-1">
      Co nabízím vám
    </h4>
    <p>
      Díky mým zkušenostem z lékárenství, nutričního poradenství a osobní cestě za vyváženým životním stylem mohu
      pomoci těm, kteří chtějí převzít zodpovědnost za své zdraví. Vytvářím bezpečné a podporující prostředí,
      kde můžete otevřeně sdílet své myšlenky, obavy a cíle. Společně budeme pracovat na tom, abyste se cítili
      jako nejlepší verze sebe sama.
    </p>
    <br />

    <h4 class="text-1xl font-bold tracking-tight dark:text-white sm:text-1xl mb-1">
      Jste připraveni na změnu?
    </h4>
    <p>
      Možná vám teď změna připadá jako nedosažitelný cíl, ale pokud se už vaše myšlenky tímto směrem ubírají, věřte,
      že změna už začala. Společně můžeme dosáhnout toho, abyste se cítili lépe po všech stránkách. Pokud jste připraveni
      věnovat energii sobě a svému zdraví, ráda vám na této cestě budu oporou. Stačí udělat první krok a kontaktovat mě.
    </p>
    <br />
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-stone-100 dark:bg-transparent"></div>
  </Fragment>
</Content>

  <!-- Contact *********** -->

  <Features2
    id="contact"
    title="Kontaktujte mě!"
    items={[
      {
        title: 'Email',
        description: '<a href="mailto:martinakaletova.cz@gmail.com">martinakaletova.cz@gmail.com</a>',
        icon: 'tabler:mail',
      },
      {
        title: 'Instagram',
        description: '<a href="https://www.instagram.com/martinakaletova_cz/">@martinakaletova_cz</a>',
        icon: 'tabler:brand-instagram',
      },
      {
        title: 'IČO',
        description: '<a href="https://www.rzp.cz/verejne-udaje/cs/udaje/vyber-subjektu;nazev=martina%20kaletov%C3%A1;roleSubjektu=P/subjekt;ssarzp=A23ade01c39f7e21fe83b04f6e555c4ced8be92cc8c9d7e53cf73db9e07e748a41940">21833575</a>',
        icon: 'tabler:receipt',
      },
    ]}
  />

</Layout>
