---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Martina Kaletová',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        // { text: 'Home', href: '#' },
        { 
          text: 'Kdo jsem', 
          links: [
            { text: 'O mně', href: getPermalink('/#about') },
            { text: 'Má cesta', href: getPermalink('/my-journey') },
          ] 
        },
        { text: 'Má filozofie', href: getPermalink('/#philosophy') },
        { 
          text: 'Služby', 
          links: [
            { text: 'Služby', href: getPermalink('/#services') },
            { text: 'Detailní popis', href: getPermalink('/services') },
            { text: 'Ceník', href: getPermalink('/pricing') },
          ]
        },
        { text: 'Můj klient', href: getPermalink('/#client') },
        { text: 'Kontakt', href: getPermalink('/#contact') },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero ******************* -->

  <Hero
    id="hero"
    title="Kdo jsem"
    tagline="Má cesta"
  >
    <Fragment slot="subtitle">
      Jsem doktorka farmacie s&nbsp;více než sedmiletou praxí v lékárnách a&nbsp;nutriční poradkyně. 
      Výživou se&nbsp;zabývám již několik let, intenzivněji od roku 2021, kdy jsem absolvovala akreditovaný kurz MŠMT.
    </br></br>
      Denně pomáhám klientům na&nbsp;jejich cestě k&nbsp;podpoře zdraví, kdy využívám a&nbsp;propojuji znalosti nabyté studiem
      i nekončící cestou sebevzdělávání a&nbsp;objevování nových směrů. Nejen díky svému vzdělání a&nbsp;dlouholetým zkušenostem 
      v oblasti farmacie vám mohu nabídnout daleko více než jen základní nutriční poradenství. Propojuji svět přírodní 
      i klasické terapie, doplňků stravy spolu s&nbsp;vyváženou stravou, zdravými návyky i nastavením mysli tak, abych
      vám poskytla maximálně individuální služby k&nbsp;dosažení Vašich cílů.
    </br></br>
      Mé poradenství – průvodcovství je navíc založeno především na&nbsp;respektu a&nbsp;pokoře k&nbsp;Vaší životní cestě
      a&nbsp;momentální situaci, ve které se&nbsp;nacházíte, a&nbsp;především na&nbsp;vytvoření bezpečného prostoru pro uskutečnění
      požadovaných změn a&nbsp;poskytování neustálé podpory.
    </Fragment>
  </Hero>

  <!-- My journey - part 1 **************** -->

  <Content
    title="Má cesta"
    subtitle="O mé cestě za průvodcovstvím a&nbsp;rovnováhou"
    image={{src: '~/assets/images/my-journey-1.jpg', alt: 'About', loading: 'eager'}}
  >
    <Fragment slot="content">
      <h4 class="text-1xl font-bold tracking-tight dark:text-white sm:text-1xl mb-1">
        Jak jsem se&nbsp;dostala k&nbsp;pomoci druhým
      </h4>
      <p>
        Už od dětství jsem si uvědomovala svou citlivou stránku a&nbsp;<b>empatii</b>. Často jsem se&nbsp;ocitla 
        v roli <b>posluchače</b>, ke&nbsp;kterému se&nbsp;spolužáci obraceli se&nbsp;svými problémy. Přestože jsem 
        původně přemýšlela o kariéře v psychologii kvůli fascinaci psychikou, emocemi a&nbsp;jejich 
        vlivem na&nbsp;naše chování, zvolila jsem nakonec farmacii, protože jsem chtěla lépe <b>porozumět 
        tomu, jak funguje lidské tělo</b> a&nbsp;věřila, že v budoucnu budu <b>pomáhat lidem ke&nbsp;zdraví</b>.
      </p>
      <br />

      <h4 class="text-1xl font-bold tracking-tight dark:text-white sm:text-1xl mb-1">
        Praxe ve farmacii a&nbsp;objevování hlubších souvislostí
      </h4>
      <p>
        Studium farmacie mi přineslo <b>komplexní znalosti</b> nejen o lidském těle, lécích a&nbsp;jejich účincích, 
        ale i o nemocech a&nbsp;rizikových faktorech, což mi dalo pevný základ pro práci ve zdravotnictví. 
        V lékárnách jsem byla v denním kontaktu s&nbsp;klienty a&nbsp;pomáhala jim řešit jejich zdravotní problémy.
        Ale postupně jsem zjistila, že <b>problémy se&nbsp;zdravím nejsou jen otázkou těla a&nbsp;řešení v podobě léku</b>. 
        Zdraví je mnohem komplexnější a&nbsp;vyžaduje porozumění celé lidské bytosti včetně emocí a&nbsp;způsobu života. 
        Zažila jsem mnoho momentů, kdy jsem vnímala, že klienti potřebují mnohem více než jen radu ohledně léků. 
        Klíč ke&nbsp;zlepšení zdraví totiž často <b>leží v hlubším porozumění sama sebe</b>.
      </p>
      <br />
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Content>
  
  <!-- My journey - part 2 **************** -->

  <Content
  image={{src: '~/assets/images/my-journey-2.jpg', alt: 'About', loading: 'eager'}}
  isReversed
>
  <Fragment slot="content">
    <h4 class="text-1xl font-bold tracking-tight dark:text-white sm:text-1xl mb-1">
      Má osobní cesta ke&nbsp;zdraví a&nbsp;rovnováze
    </h4>
    <p>
      I já jsem prošla obdobím hledání rovnováhy. V dospívání jsem se&nbsp;potýkala s&nbsp;<b>emočním přejídáním</b>, které vedlo
      ke&nbsp;stále větší nespokojenosti se&nbsp;svým tělem. Po sérii nezdravých pokusů o hubnutí jsem se&nbsp;rozhodla
      <b>studovat výživu</b> hlouběji. Získané znalosti mi pomohly, ale uvědomila jsem si, že nestačí jen správně jíst – je
      třeba pracovat na&nbsp;<b>vztahu k&nbsp;jídlu</b> a&nbsp;k sobě samotné.
    </p>
    <br />

    <h4 class="text-1xl font-bold tracking-tight dark:text-white sm:text-1xl mb-1">
      Překonání ortorexie a&nbsp;hledání skutečného zdraví
    </h4>
    <p>
      Mé zaujetí zdravým stravováním mě dovedlo až k&nbsp;ortorexii – posedlosti "dokonalou" stravou. Přestože jsem navenek
      vypadala zdravě, uvnitř jsem bojovala s&nbsp;perfekcionismem a&nbsp;nespokojeností se&nbsp;sebou. Postupně jsem se&nbsp;naučila
      naslouchat svému tělu, respektovat jeho potřeby a&nbsp;hledat rovnováhu v jídle, pohybu i odpočinku. Dnes pečuji
      nejen o své tělo, ale i o svou duši a&nbsp;vnímám své limity. Vím, že <b>cesta ke&nbsp;zdraví</b> a&nbsp;spokojenosti
      <b>může být dlouhá</b> a&nbsp;ne vždy jednoduchá, ale hlavní je, že je <b>možná</b>.
    </p>
    <br />
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
  </Fragment>
  </Content>

  <!-- My journey - part 3 **************** -->

  <Content
  image={{src: '~/assets/images/my-journey-3.jpg', alt: 'About', loading: 'eager'}}
  >
  <Fragment slot="content">
    <h4 class="text-1xl font-bold tracking-tight dark:text-white sm:text-1xl mb-1">
      Co nabízím vám
    </h4>
    <p>
      Díky mým zkušenostem z lékárenství, nutričního poradenství a&nbsp;osobní cestě za vyváženým životním stylem mohu
      pomoci těm, kteří chtějí převzít zodpovědnost za své zdraví. Vytvářím bezpečné a&nbsp;podporující prostředí,
      kde můžete otevřeně sdílet své myšlenky, obavy a&nbsp;cíle. Společně budeme pracovat na&nbsp;tom, abyste se&nbsp;cítili
      jako nejlepší verze sebe sama.
    </p>
    <br />

    <h4 class="text-1xl font-bold tracking-tight dark:text-white sm:text-1xl mb-1">
      Jste připraveni na&nbsp;změnu?
    </h4>
    <p>
      Možná vám teď změna připadá jako nedosažitelný cíl, ale pokud se&nbsp;už vaše myšlenky tímto směrem ubírají, věřte,
      že změna už začala. Společně můžeme dosáhnout toho, abyste se&nbsp;cítili lépe po všech stránkách. Pokud jste připraveni
      věnovat energii sobě a&nbsp;svému zdraví, ráda vám na&nbsp;této cestě budu oporou. Stačí udělat první krok a&nbsp;kontaktovat mě.
    </p>
    <br />
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
  </Fragment>
</Content>

  <!-- Contact *********** -->

  <Features2
    id="contact"
    title="Kontaktujte mě!"
    items={[
      {
        title: 'Email',
        description: '<a href="mailto:martinakaletova.cz@gmail.com">martinakaletova.cz@gmail.com</a>',
        icon: 'tabler:mail',
      },
      {
        title: 'Instagram',
        description: '<a href="https://www.instagram.com/martinakaletova_cz/">@martinakaletova_cz</a>',
        icon: 'tabler:brand-instagram',
      },
      {
        title: 'IČO',
        description: '<a href="https://www.rzp.cz/verejne-udaje/cs/udaje/vyber-subjektu;nazev=martina%20kaletov%C3%A1;roleSubjektu=P/subjekt;ssarzp=A23ade01c39f7e21fe83b04f6e555c4ced8be92cc8c9d7e53cf73db9e07e748a41940">21833575</a>',
        icon: 'tabler:file-certificate',
      },
    ]}
  />

</Layout>
